.cards {
    padding: 2rem 0;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px ;
}
.cards-grid{
    display: flex;
    flex: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.card-item{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: start;
    box-shadow: -5px 7px 4px #00000081;
    
}