.hero{
    position: relative;
    text-align: center;
    width: 98%;
    padding: 8rem 1rem;
    border: left #8b8b8b solid 1px;
    border: bottom #555555 solid 3px; 
    border:right transparent;
    border-radius: 8px;
    margin: 10rem 1rem 1rem 1rem;
   
}
.hero-image{
    width: 100%;
    height: auto;
    z-index: 1;
}