.testemunhos{
    padding: 3rem 1rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 2px;
}
.testemunhos_container{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.164);
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
}
.testemunhos-card{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    flex-basis: 400px;
    padding: 1.5rem;
    border: 2px solid black;
    margin-bottom: 1rem;
}
.testemunho-card blockquote{
    font-style: italic;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
.testemunho-card cite {
    font-weight: bold;
    color: white;
}
.section-title{
    font-family: 'Georgia', serif;
    text-align: center;
    margin-bottom: 3rem;
    color: rgb(0, 0, 0);
    font-size: 2rem;
}